@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  --color-accent: #e22b23;
  --gradient: linear-gradient(170deg, #101010 10%, #1f1f1f 100%);
  font-family: 'Space mono', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-color: #1f1f1f;
  background-image: var(--gradient);
  height: 100%;
}

#header-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-logo {
  max-height: 40px;
  margin: 15px;
}

#navbar {
  font-size: 1.2rem;
  list-style: none;
  padding: 10px;
  display: flex;
}

#navbar li:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #fff;
}

a,
a:visited,
a:active {
  margin: 4px;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: inline-block;
}

a:hover,
.active {
  border-radius: 10px;
  background-color: var(--color-accent);
}

#main-container {
  width: 80%;
  min-height: 600px;
  margin: 50px auto;
  border-radius: 15px;
  border: 1px var(--color-accent) solid;
  box-shadow: 0px 0px 15px var(--color-accent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

#section-central {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  color: #fff;
  line-height: 1.3;
}

#title .first-word {
  font-size: 2em;
}

#title .second-word {
  font-size: 3em;
  padding-left: 20px;
}

#title .third-word {
  font-size: 5em;
  text-shadow: 0 0 30px var(--color-accent);
  padding-left: 30px;
}

#section-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#section-nav .card {
  width: 300px;
  max-width: 30%;
  height: 50px;
  padding: 10px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px -1px 15px var(--color-accent);
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  transition: 0.5s ease-in;
  align-self: flex-end;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

#section-nav .card.one:hover {
  height: 120px;
}

#section-nav .card.two:hover {
  height: 120px;
}

#section-nav .card.three:hover {
  height: 120px;
}

#section-nav .card .title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

#section-nav .card .content {
  font-size: 1rem;
}

#footer-main {
  margin: 0 auto;
  padding-bottom: 10px;
  font-size: 1.3rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#footer-main .socials {
  list-style: none;
  display: flex;
}

#footer-main .socials li {
  padding-right: 10px;
}